/* line 17, ../../../../Users/stef/.rvm/gems/ruby-1.9.3-head/gems/compass-0.12.2.rc.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Users/stef/.rvm/gems/ruby-1.9.3-head/gems/compass-0.12.2.rc.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Users/stef/.rvm/gems/ruby-1.9.3-head/gems/compass-0.12.2.rc.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Users/stef/.rvm/gems/ruby-1.9.3-head/gems/compass-0.12.2.rc.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Users/stef/.rvm/gems/ruby-1.9.3-head/gems/compass-0.12.2.rc.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Users/stef/.rvm/gems/ruby-1.9.3-head/gems/compass-0.12.2.rc.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Users/stef/.rvm/gems/ruby-1.9.3-head/gems/compass-0.12.2.rc.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Users/stef/.rvm/gems/ruby-1.9.3-head/gems/compass-0.12.2.rc.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Users/stef/.rvm/gems/ruby-1.9.3-head/gems/compass-0.12.2.rc.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 61, ../../../../Users/stef/.rvm/gems/ruby-1.9.3-head/gems/compass-0.12.2.rc.0/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%;
}

/* line 64, ../../../../Users/stef/.rvm/gems/ruby-1.9.3-head/gems/compass-0.12.2.rc.0/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.5em;
}

/* line 33, ../../app/stylesheets/application.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 38, ../../app/stylesheets/application.scss */
body {
  background-color: #f8f6f4;
  color: #776a5d;
}
/* line 40, ../../app/stylesheets/application.scss */
body a {
  color: #ff00aa;
}
/* line 18, ../../../../Users/stef/.rvm/gems/ruby-1.9.3-head/gems/compass-0.12.2.rc.0/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body a:visited {
  color: #ff66cc;
}
/* line 21, ../../../../Users/stef/.rvm/gems/ruby-1.9.3-head/gems/compass-0.12.2.rc.0/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body a:focus {
  color: #ff80d4;
}
/* line 24, ../../../../Users/stef/.rvm/gems/ruby-1.9.3-head/gems/compass-0.12.2.rc.0/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body a:hover {
  color: #ff33bb;
}
/* line 27, ../../../../Users/stef/.rvm/gems/ruby-1.9.3-head/gems/compass-0.12.2.rc.0/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
body a:active {
  color: #ff4dc3;
}
/* line 43, ../../app/stylesheets/application.scss */
body h1 a {
  text-decoration: none;
}

/* line 49, ../../app/stylesheets/application.scss */
.page {
  font-family: "ff-tisa-web-pro", Georgia, serif;
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  background-color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 16px;
  -moz-box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 16px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 16px;
}
/* line 38, ../../../../Users/stef/.rvm/gems/ruby-1.9.3-head/gems/compass-0.12.2.rc.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.page:after {
  content: "";
  display: table;
  clear: both;
}
/* line 54, ../../app/stylesheets/application.scss */
.page header {
  clear: both;
}
/* line 58, ../../app/stylesheets/application.scss */
.page nav p {
  text-align: center;
}
@media (min-width: 60em) {
  /* line 58, ../../app/stylesheets/application.scss */
  .page nav p {
    text-align: left;
  }
}
/* line 63, ../../app/stylesheets/application.scss */
.page nav p:nth-child(1) {
  margin-top: 0em;
}
/* line 68, ../../app/stylesheets/application.scss */
.page ul {
  margin-bottom: 1.5em;
}
/* line 69, ../../app/stylesheets/application.scss */
.page ul li {
  list-style: circle;
  margin-left: 8.475%;
}
/* line 72, ../../app/stylesheets/application.scss */
.page ul li em {
  font-weight: bold;
}
/* line 78, ../../app/stylesheets/application.scss */
.page .twitter-follow-button {
  position: relative;
  top: 6px;
}
@media (min-width: 60em) {
  /* line 84, ../../app/stylesheets/application.scss */
  .page .content {
    width: 66.102%;
    float: left;
    margin-right: 1.695%;
    display: inline;
    margin-left: 8.475%;
    margin-bottom: 1.5em;
  }
  /* line 89, ../../app/stylesheets/application.scss */
  .page .side {
    width: 15.254%;
    float: left;
    margin-right: 1.695%;
    display: inline;
    margin-right: 8.475%;
  }
}

/* line 96, ../../app/stylesheets/application.scss */
h1 {
  font-size: 2em;
  line-height: 1.5em;
  font-family: "ratio", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 100;
}
@media (min-width: 60em) {
  /* line 96, ../../app/stylesheets/application.scss */
  h1 {
    font-size: 3em;
    line-height: 1em;
  }
}

/* line 105, ../../app/stylesheets/application.scss */
header#header {
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border-bottom: 4px solid #eee;
}
/* line 111, ../../app/stylesheets/application.scss */
header#header h1#logo {
  text-align: center;
  display: inline-block;
  font-family: "ratio", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 4em;
  line-height: 0.75em;
  margin-bottom: 0em;
  margin-top: 1.5em;
}
/* line 121, ../../app/stylesheets/application.scss */
header#header h2 {
  text-align: center;
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
}

/* line 128, ../../app/stylesheets/application.scss */
h2 {
  font-size: 2em;
  line-height: 1.5em;
  margin-bottom: 1.5em;
}

/* line 133, ../../app/stylesheets/application.scss */
h1 {
  font-size: 2em;
  line-height: 1.5em;
  margin-bottom: 1.5em;
}

/* line 138, ../../app/stylesheets/application.scss */
p {
  margin-bottom: 1.5em;
}
/* line 139, ../../app/stylesheets/application.scss */
p:first-child {
  margin-top: 1.5em;
}

/* line 145, ../../app/stylesheets/application.scss */
ul.twitter_users {
  overflow: hidden;
  *zoom: 1;
}
/* line 147, ../../app/stylesheets/application.scss */
ul.twitter_users li {
  width: 100%;
  float: left;
  margin-right: 2.041%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
  margin-bottom: 1.5em;
}
/* line 150, ../../app/stylesheets/application.scss */
ul.twitter_users li h3 {
  margin-bottom: 1.5em;
}
@media (min-width: 60em) {
  /* line 154, ../../app/stylesheets/application.scss */
  ul.twitter_users li .avatar {
    width: 8.163%;
    float: left;
    margin-right: 2.041%;
    display: inline;
  }
  /* line 157, ../../app/stylesheets/application.scss */
  ul.twitter_users li .about {
    width: 48.98%;
    float: left;
    margin-right: 2.041%;
    display: inline;
  }
  /* line 160, ../../app/stylesheets/application.scss */
  ul.twitter_users li .follow {
    width: 28.571%;
    float: left;
    margin-right: 2.041%;
    display: inline;
  }
}

/* line 168, ../../app/stylesheets/application.scss */
.sixteen-nine {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  margin-bottom: 1.5em;
}

/* line 176, ../../app/stylesheets/application.scss */
iframe#youtube, iframe#vimeo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 184, ../../app/stylesheets/application.scss */
blockquote {
  padding-left: 8.475%;
  background-color: #eee9e4;
  font-size: 2em;
  line-height: 1.5em;
  font-weight: lighter;
  margin-top: 0em;
}
/* line 190, ../../app/stylesheets/application.scss */
blockquote p {
  margin: 0px;
}

/* line 195, ../../app/stylesheets/application.scss */
footer#footer {
  font-family: "ff-tisa-web-pro", Georgia, serif;
  height: 8em;
  clear: both;
}
/* line 199, ../../app/stylesheets/application.scss */
footer#footer .container {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
}
/* line 38, ../../../../Users/stef/.rvm/gems/ruby-1.9.3-head/gems/compass-0.12.2.rc.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
footer#footer .container:after {
  content: "";
  display: table;
  clear: both;
}
/* line 203, ../../app/stylesheets/application.scss */
footer#footer .container p {
  color: #aaa;
  text-align: center;
  font-size: 0.75em;
  line-height: 2em;
}
/* line 207, ../../app/stylesheets/application.scss */
footer#footer .container p a, footer#footer .container p a:visited {
  color: #999;
}
/* line 212, ../../app/stylesheets/application.scss */
footer#footer ul li {
  font-family: "ff-tisa-web-pro", Georgia, serif;
  font-size: 0.875em;
  line-height: 1.714em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  display: inline-block;
  margin-right: 0.5em;
}
/* line 219, ../../app/stylesheets/application.scss */
footer#footer ul li a {
  color: #222222;
}
/* line 18, ../../../../Users/stef/.rvm/gems/ruby-1.9.3-head/gems/compass-0.12.2.rc.0/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
footer#footer ul li a:visited {
  color: #222222;
}
/* line 21, ../../../../Users/stef/.rvm/gems/ruby-1.9.3-head/gems/compass-0.12.2.rc.0/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
footer#footer ul li a:focus {
  color: #222222;
}
/* line 24, ../../../../Users/stef/.rvm/gems/ruby-1.9.3-head/gems/compass-0.12.2.rc.0/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
footer#footer ul li a:hover {
  color: #222222;
}
/* line 27, ../../../../Users/stef/.rvm/gems/ruby-1.9.3-head/gems/compass-0.12.2.rc.0/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
footer#footer ul li a:active {
  color: #222222;
}

/* line 225, ../../app/stylesheets/application.scss */
article {
  margin-bottom: 1.5em;
}

/* line 229, ../../app/stylesheets/application.scss */
#footer_sticky {
  height: 8em;
}

/* line 233, ../../app/stylesheets/application.scss */
#all {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -8em;
}

/* line 244, ../../app/stylesheets/application.scss */
.sc-player {
  margin-bottom: 1.5em;
  height: 48px;
  display: block;
}
